<!DOCTYPE html>
<html>
<head>
    <title>Durga DevOps</title>
</head>
<body>
    <h1>Welcome to Durga DevOps</h1>

    <p>Server Name: {{ ansible_hostname }}</p>

    <p>Managed by Ansible</p>
</body>
</html>
